<% include ./header %>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card card-default">
                <div class="card-header">
                    Asetukset
                </div>
                <div class="card-body">
                    <% if (userAuthorizationError.length > 0) { %>
                        <div class="alert alert-danger"><%= userAuthorizationError %></div>
                    <% } %>

                    <% if (userAuthorizationSuccess.length > 0) { %>
                        <div class="alert alert-success"><%= userAuthorizationSuccess %></div>
                    <% } %>

                    <% if (userAuthorizationInfo.length > 0) { %>
                        <div class="alert alert-info"><%= userAuthorizationInfo %></div>
                    <% } %>
                    <h3>Anna katseluoikeudet tuntikertymiisi</h3>
                    <p>Voit halutessasi antaa esimerkiksi esimiehellesi oikeuden tarkastella tuntikertymiäsi Raportit-sivulla. Syötä sen käyttäjän sähköpostiosoite, jolle haluat antaa katseluoikeudet.</p>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-12">
                            <form method="post" action="/settings/authorize-user">
                                <div class="form-group ">
                                    <label for="addRightsToEmail">Sähköpostiosoite</label>
                                    <input class="form-control" type="email" name="authorizedUser" required placeholder="Esim. pomo@yritys.fi">
                                </div>
                                <input type="submit" class="btn btn-info" value="Lisää käyttöoikeus" />
                            </form>
                        </div>
                        <div class="col-md-6 col-12">
                            <label>Lisätyt käyttöoikeudet</label>
                            <ul>
                                <% if (usersThatHaveAccess.length == 0) { %>
                                    <li>Ei vielä lisättyjä oikeuksia.</li>
                                <% } else { %>
                                    <% usersThatHaveAccess.forEach(adminUser => { %>
                                        <li><%= adminUser.email %> <a href="/settings/remove-authorization/<%= adminUser.id %>" style="color: red">Poista</a></li>
                                    <% }) %>
                                <% } %>
                            </ul>
                        </div>
                    </div>

                    <hr/>

                    <% if (passwordChangeError.length > 0) { %>
                        <div class="alert alert-danger"><%= passwordChangeError %></div>
                    <% } %>

                    <% if (passwordChangeSuccess.length > 0) { %>
                        <div class="alert alert-success"><%= passwordChangeSuccess %></div>
                    <% } %>

                    <h3>Vaihda salasana</h3>
                    <form action="/settings/change-password" method="post">
                        <div class="row">
                            <div class="form-group col-lg-4 col-md-12">
                                <label>Nykyinen salasana</label>
                                <input type="password" class="form-control" name="oldPassword">
                            </div>
                            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                <label>Uusi salasana</label>
                                <input type="password" class="form-control" name="newPassword" required>
                            </div>
                            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                <label>Uusi salasana uudestaan</label>
                                <input type="password" class="form-control" name="newPasswordValidate" required>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-info" value="Vaihda salasana" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./footer %>
